@model dynamic

@{
    ViewData["Title"] = "Planta";
    Planta planta = @Model.planta;
}

<div class="row">
    <div class="col-md-4">  
        <h1 class="display-4">Editar Planta</h1>
        <form asp-controller="Planta" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@planta.ID" />
            <div class="form-group">
                <label asp-for="@planta.Nombre" class="control-label"></label>
                <input asp-for="@planta.Nombre" class="form-control" />
                <span asp-validation-for="@planta.Nombre" class="text-danger"></span>
            </div>   

            <div class="form-group">
                <label asp-for="@planta.TipoPlanta" class="control-label"></label>
                <select name="IDTipoPlanta" class="custom-select">
                    @foreach (TipoPlanta tipo in Model.TipoPlanta)
                    {
                        <option value="@tipo.ID">@tipo.Nombre</option>
                    }
                </select>
            </div>  
            
            <div class="form-group">
                <label asp-for="@planta.ImagenURL" class="control-label"></label>
                <input asp-for="@planta.ImagenURL" class="form-control" />
            </div> 
                   
            <div class="form-group">
                <label asp-for="@planta.Precio" class="control-label"></label>
                <input asp-for="@planta.Precio" class="form-control" />
            </div>               

            <div class="form-group">
                <label asp-for="@planta.Stock" class="control-label"></label>
                <input asp-for="@planta.Stock" class="form-control"  disabled/>
            </div>                                   

            <div class="form-group">
                <label asp-for="@planta.TemperaturaIdeal" class="control-label"></label>
                <input asp-for="@planta.TemperaturaIdeal" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="@planta.Riego" class="control-label"></label>
                <textarea asp-for="@planta.Riego" class="form-control"></textarea> 
            </div>

            <div class="form-group">
                <label asp-for="@planta.Tips" class="control-label"></label>
                <textarea asp-for="@planta.Tips" class="form-control"></textarea>
            </div>


            <div class="form-group">
                 <button type="submit" class="btn btn-primary">Actualizar</button> 
            </div>                

        </form>  
    
    </div>
</div>
