@model dynamic

@{
    ViewData["Title"] = "Ingresar Planta";
    Planta planta = @Model.planta;
}


<div class="row">
    <div class="col-md-4">  
        <h3 class="titulo">Ingresar Planta </h3></p>

        <form asp-controller="Planta" asp-action="Formulario" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@planta.Nombre" class="control-label"></label>
                <input asp-for="@planta.Nombre" class="form-control" />
                <span asp-validation-for="@planta.Nombre" class="text-danger"></span>
            </div>    

            <div class="form-group">
                <label asp-for="@planta.TipoPlanta" class="control-label"></label>
                <select name="IDTipoPlanta" class="custom-select">
                    @foreach (TipoPlanta tipo in Model.TipoPlanta)
                    {
                        <option value="@tipo.ID">@tipo.Nombre</option>
                    }
                </select>
            </div>
          
            @* <div class="form-group">
                <label asp-for="@planta.Imagen" class="control-label"></label>
                <input type="file" asp-for="@planta.Imagen" class="form-control" accept="image/*"/>
            </div>                *@

            <div class="form-group">
                <label asp-for="@planta.ImagenURL" class="control-label"></label>
                <input asp-for="@planta.ImagenURL" class="form-control" />
            </div> 
                   
            <div class="form-group">
                <label asp-for="@planta.Precio" class="control-label"></label>
                <input asp-for="@planta.Precio" class="form-control" />
            </div>               

            <div class="form-group">
                <label asp-for="@planta.Stock" class="control-label"></label>
                <input asp-for="@planta.Stock" class="form-control" />
            </div>                                   

            <div class="form-group">
                <label asp-for="@planta.TemperaturaIdeal" class="control-label"></label>
                <input asp-for="@planta.TemperaturaIdeal" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="@planta.Riego" class="control-label"></label>
                <input asp-for="@planta.Riego" class="form-control" /> 
                @* textarea *@
            </div>

            <div class="form-group">
                <label asp-for="@planta.Tips" class="control-label"></label>
                <input asp-for="@planta.Tips" class="form-control" />
            </div>

            <div class="form-group">
                 <button type="submit"  class="btn btn-success">Cargar</button> 
            </div>                

        </form>
            


        <td></td>    
        @* <td>@Html.DisplayTextFor(model => model.Respuesta)</td> *@
        @planta.Respuesta

    </div>
</div>


