@model dynamic

@{
	ViewData["Title"] = "Planta";
}

<div class="row">
	<div class="col-md-4">
		<h3 class="titulo">Plantas </h3>
	</div>
</div>

<div class="dropdown p-3 mb-2 bg-success input-group mb-3">
	<form asp-controller="Planta" asp-action="Index">
	<select class="custom-select btn btn-outline-light" type="button"  name="BuscarPlanta" onchange="this.form.submit()">
		<option><i class="fas fa-leaf"></i>Tipo de planta</option>
		@foreach (TipoPlanta item in Model.TipoPlanta)
		{
			<option class="dropdown-item" value="@item.ID">@item.Nombre</option>
		}
	</select>
	</form>
	<div class="input-group-append">
    	<a class="input-group-text btn btn-outline-light" href="~/Planta/Formulario">Agregar</a>
  	</div>
</div>

<div class="container">

			@foreach (Planta planta in Model.Planta)
			{
				<a asp-controller="Planta" asp-action="Detalle" asp-route-id="@planta.ID">
				<button type="submit" class="btn btn-light">
				<div style="width: 18rem;">
					<img src="@Url.Content(planta.ImagenURL)" class="card-img-top center-cropped">
					<div class="card-body">
						<h5 class="card-tittle" align="center">@planta.Nombre</h5>
						<a asp-controller="Planta" asp-action="Edit" asp-route-id="@planta.ID" align="center" class="btn btn-outline-success"><i class="fas fa-edit"></i></a>
					</div>
				</div>
				</button>
				</a>
			}
 </div>
